# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Text, csv, Excel
*.txt
*.csv
*.xls*

# VS Code Settings
.vscode

multilingual_embeddings.ru
navec_hudlit_v1_12B_500K_300d_100q.tar
